.whole{
    background-color: lightgreen;
}

.div{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 82vh;
    justify-content: space-between;
}
.image{
    height: 500px;
    width: 300px;
}