.whole{
    background-color: white;
    margin-top: 200px;

}

.div{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 82vh;
    justify-content: space-between;
}
.image{
    height: 500px;
    width: 500px;
    margin-right: 150px;
}
 /* margin-right: 80vh;  */
.title2{
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    margin-bottom: 80px;
   
}
.title3{
    margin-left: 300px;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.collar-top{
    height: 60vh;
    width: 20vw;
    margin-left: 30px;
    border-radius: 30px;
}
/* In your CSS file (e.g., Landing.css) */
.top{
    margin-left: 300px;
}
.texts{
    font-size: 20px;
    font-weight: bold;
}
.collar-top2{
    height: 60vh;
    width: 20vw;
    margin-left: 30px;
    border-radius: 30px;
    margin-top: 300px;
}