.lehenga{
    height: 400px;
    width: 400px;
    position: relative;
    top: 1100px;
    left: 50px;
}
.oc{
    height: 400px;
    width: 400px;
    position: relative;
    left: 650px;
    top: 550px;

}
.leh2{
    height: 400px;
    width: 400px;
    border-radius: 40%;
    position: relative;
    right: 650px;
   
}